<div class="row">
    {% for post in include.references %}
      <div class="col-md-6 my-1">
        <div class="card border-light mb-3">
          <div class="card h-150 bg-transparent">
            {% assign src = post.img_path | append:'/' | append: post.images[0].src %}
            <a href="{{ post.url }}">
              <img class="card-img-top" src="{{ src }}" alt="{{ post.title }}" loading="lazy">
            </a>
            <div class="card-body">
              <h5 class="card-title mt-0">{{ post.title }}</h5>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
