---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";



/* append your custom style below */

.heading{
    font-size:20px;
    font-weight:600;
    color:#3D5AFE;
}
  .line1{
    color:#000;
    font-size:12px;
  }
   .line2{
    color:#000;
    font-size:12px;
  }
   .line3{
    color:#000;
    font-size:12px;    
  }
  .cards{
    transition: all 0.2s ease;
    cursor: pointer;  
  }  
.cards:hover{
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}
